/*================
Table of Contents
1. universal styles
2. nav styles
3. index styles
4. news styles
5. officers styles
6. planning ideas styles
7. webinars styles
8. footer styles
================*/
/* Colors
 * Blue - #0068b3
 * Medium Green - #0aa596
 * Dark Green - #00957f
 * Light Green - #9fd0c9
 * Darker Gray - #ededed
 * Lighter Gray - #f4f4f4
 */
/*================
universal styles
================*/

body {
  margin: 0 10%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  vbackground-image: url("../img/background.png");
}

a {
    text-decoration: none;
    color: #00957f;
}

a:hover {
    color: #9fd0c9;
}

main {
    background-color: #ededed;
    padding: 2px;
}

h1 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 40pt;
}

.mobileImg {
  display: none;
}

/*================
nav styles
================*/
nav {
    width: 100%;
    margin: 16pt 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    justify-content: space-between;
    display: flex;
    list-style: none;
}

nav ul li {

}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #0068b3;
    text-transform: uppercase;
    font-weight: bold;
    padding: 24pt 0;
}

nav a:hover {
    color: black;
}

#navLogo {
    width: 200px;
}

@media (max-width: 800px) {
    #navLogo {
        width: 140px;
    }
}

/*================
index styles
================*/
#home-main {
    display: flex;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    align-items: flex-start;
    margin-top: 12pt;
    padding: 0;
}

#slideshow {
    margin: 16pt 0;
}

#sidebar-image {
}

#home-page-content {
    margin: 0 12pt;
}

/*mainContent media queries*/

@media(max-width: 1400px){

  #mainContent{
    width: 65%;
  }
}


@media(max-width: 1200px){
  #mainContent{
    width: 60%;
  }
}

@media(max-width: 1080px){
  #mainContent{
    width: 55%;
  }
}

/*end mainContent media queries*/


/*================
news styles
================*/
#news-page-title {

}

.news-post {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    margin: 24pt;
    padding: 12pt;
}

.post-title {
    text-transform: uppercase;
    font-size: 12pt;
    margin: 0;
}

.post-date {
    line-height: 1.75em;
}

.news_image {
    height: 100%;
    padding-right: 6pt;
}

.post-excerpt {
    padding: 0;
    margin: 0;
    line-height: 1.75em;
}

/*================
webinars styles
================*/
#webinar-page-title {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}

.webinar-post {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    margin: 24pt;
    padding: 12pt;
}

.webinar-post-title {
    text-transform: uppercase;
    font-size: 12pt;
    margin: 0
}

.webinar_image {
    height: 100%;
    padding-right: 6pt;
}

.webinar-post-info {

}

.webinar-post p {
    padding: 0;
}

/*================
officers styles
================*/
#officer-container {
    display: flex;
    justify-content: space-between;
    padding: 20pt 12pt;
}

.officer {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}

.officer-title {
    text-transform: uppercase;
    font-weight: bold;
}

.officer-name {
    /*text-transform: lowercase;*/
    font-weight: lighter;
}

.officer-image-wrapper {
    display: inline-block;
    overflow: hidden;
    height: 200px;
    width: 100%;
    margin: auto;
}

.officer-image {
}

#contact-container {
    display: flex;
    justify-content: space-around;
}

.contact {
    flex-basis: 45%;
    display: flex;
    justify-content: space-around;
}

.contact-info {
    vertical-align: middle;
}
/*================
Resources styles
================*/
#planning-header {
    margin: 24pt;
}

#planning-links a {
    display: block;
    padding: 4pt 0;
}

#meeting-date {
    font-size: 14pt;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}
#resources-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resources-link {
    display: block;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    color: white;
    margin: 4pt 0;
}

.resources-link:hover {
    color: purple;
}

.resources-title {
    background-color: #0068b3;
    margin: 0 4pt;
    padding: 4pt;
    border-radius: 8px;
}

/*================
footer styles
================*/
footer {
    background-color: #0068b3;
    padding: 20pt 0;
    margin-top: 12pt;
}

footer div {
    color: white;
    text-align: center;
    clear: left;
    line-height: 1.5em;
}

/*================
media queries
================*/


@media(max-width: 650px) {

  nav {
    display: none;
  }

  body {
    margin: 0;
    background-image: url("../"); /*just gets rid of background image*/
  }

  #sidebar-image {
    display: none;
  }

  .mobileImg {
    display: block;
    margin: auto;
    height: 150px;
  }

  #officer-container {
    display: block;
  }

  .officer-image-wrapper {
      height: 100px;
      width: 50%;
      margin-bottom: 15px;
  }

  #contact-container {
      display: block;
      text-align: left;
      margin: 0 10px;
  }

  .contact {
    padding: 10px 0;
  }

  .contact img {
    display: none;
  }

  #planning-ideas-container {
    display: block;
  }

  #planning-ideas-container a {
    margin-bottom: 15px;
  }

}
