/*================
Table of Contents
1. universal styles
2. nav styles
3. index styles
4. news styles
5. officers styles
6. planning ideas styles
7. webinars styles
8. footer styles
================*/

/*================
universal styles
================*/

body {
  margin: 0 15%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-image: url("../img/background.png");
}

main {
    background-color: #fff;
}

#slideshowWrapper {
  text-align: center;
  margin: 25px;
}

.banner {
  width: 75%;
}

.bannerWrapper {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  padding: 15px;
  font-family: Montserrat, sans-serif;
}
#bodyMain h1, #bodyMain p {
  padding: 15px;
}

.mobileImg {
  display: none;
}

/*================
nav styles
================*/
nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 40px;
  overflow: hidden;
  text-align: center;
  justify-content:space-between;
  display:flex;
}

nav ul li {
  list-style: none;
  float: left;
  text-align: center;
  width: calc(100% / 6);
}

nav ul li a {
  text-decoration: none;
  color: #406f84;
  display: block;
  padding: 25px 0px;
  position: relative;
  top: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
    color: black;
}

#navLogo {
  height: 95px;
  width: 120px;
  padding: 7px 0 2px 0;
  position: relative;
  right: px;
}

/*================
index styles
================*/
.slickCarousel {
  width: 40%;
}

.carouselImg {
  height: 400px;
  width: 75%;
}

.imgrow {
  padding-bottom: 25px;
  margin: auto 0;
  text-align: center;
}

#banner-wrapper {
    width: 100%;
}

#banner {
    width: 100%;
}

#home-main {
    display: flex;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    align-items: flex-start;
}

#sidebar-image {
}

#home-page-content-wrapper {
    margin: 0 12pt;
}

/*mainContent media queries*/

@media(max-width: 1400px){

  #mainContent{
    width: 65%;
  }
}


@media(max-width: 1200px){
  #mainContent{
    width: 60%;
  }
}

@media(max-width: 1080px){
  #mainContent{
    width: 55%;
  }
}

/*end mainContent media queries*/


/*================
news styles
================*/
#news-page-title {

}

.news-post {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
}

.post-title {
    text-transform: uppercase;
}

/*================
officers styles
================*/
#officer-container {
    display: flex;
    justify-content: space-between;
    padding: 20pt 12pt;
}

.officer {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}

.officer-title {
    text-transform: uppercase;
    font-weight: bold;
}

.officer-name {
    text-transform: lowercase;
    font-weight: lighter;
}

.officer-image-wrapper {
    display: inline-block;
    overflow: hidden;
    height: 200px;
    width: 100%;
    margin: auto;
}

.officer-image {
}

#contact-container {
    display: flex;
    justify-content: space-around;
}

.contact {
    flex-basis: 45%;
    display: flex;
    justify-content: space-around;
}

.contact-info {

}
/*================
planning ideas styles
================*/
#planning-ideas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.planning-idea-link {
    display: block;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    color: blue;
    text-decoration: none;
}

.planning-idea-link:hover {
    color: purple;
}

/*================
webinars styles
================*/
#webinar-page-title {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}

.webinar-post {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
}


/*================
footer styles
================*/

footer p {
    background-color: #dbdbdb;
    text-align: center;
    padding: 30px 0px;
    color: #000;
    clear:left;
}

/*================
media queries
================*/

@media(max-width: 1024px) {

  #navLogo {
    display: none;
  }

  nav {
    width: 100%;
  }

  nav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    justify-content:space-between;
    display:inline-block;
  }

  nav ul li {
    list-style: none;
    float: left;

    text-align: center;
    width: 75px;
  }

  nav ul li a {
    text-decoration: none;
    color: #406f84;
    display: block;
    padding: 25px 0px;
    position: relative;
    top: 17px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7em;
  }

  nav a:hover {
      color: black;
  }

}

@media(max-width: 500px) {

  nav {
    display: none;-cursor:
  }

  body{
    margin: 0;
    background-image: url("../"); /*just gets rid of background image*/
  }

  #sidebar-image {
    display: none;
  }

  .mobileImg {
    display: block;
    margin: auto;
    height: 150px;
  }

  #officer-container {
    display: block;
  }

  .officer-image-wrapper {
      height: 100px;
      width: 50%;
      margin-bottom: 15px;
  }

  #contact-container {
      display: block;
      text-align: left;
      margin: 0 10px;
  }

  .contact {
    padding: 10px 0;
  }

  .contact img {
    display: none;
  }

  #planning-ideas-container {
    display: block;
  }

  #planning-ideas-container a {
    margin-bottom: 15px;
  }

}
